*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(236, 236, 236);
}

.container-navbar{
    display: flex;
    width: 100%;
    justify-content:space-between;
    background-color: rgb(245, 245, 245);
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.381);
    align-items: center;
}

.meu-nome{
    display: flex;
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 20px;
    font-size: 25px;
}

.hudson{
    margin-left: 10px;
    color: red;
}

.partes-do-site{
    display: flex;
}

.partes-do-site ul{
    font-size: 26px;
    font-weight: 700;
    cursor: pointer;
    list-style: none;
    display: flex;
}

.partes-do-site  li a{
    text-decoration: none;
    color: #daa520;
    display: block;
    margin-left: 12px;
    margin-right: 12px;
}

.partes-do-site li a:hover{
    color:rgb(46, 7, 184);
    transition: 0.3s;
}

.partes-do-site img{
    display: none;
    background-size: 100% 100%;
    max-width: 50px;
    cursor: pointer;
}

.redes-sociais{
    padding-right: 20px;
    
}

.redes-sociais img{
    width: 100%;
    max-width: 40px;
    margin-left: 20px;
    cursor: pointer;

}   


@media screen and (max-width:1000px) {
    .partes-do-site{
        margin-top: -10px;
        padding-bottom: 15px;
        margin-right: 25px;
    }
    
    .partes-do-site img{
        display:flex;
        width: 100%;
        max-width: 40px;
        -webkit-transition: -webkit-transform .6s;
        -ms-transition: -ms-transform .6s;
        transition: transform .6s; 

    }

    .partes-do-site img:hover{
        transform: rotate(90deg);
    
    }

    .partes-do-site h2{
        display: none;
    }

    .redes-sociais{
        display: none;
    }

    .menu-clicado{
        color: #daa520;
        background-color: rgb(245, 245, 245);
        text-align: center;
        width: 0%;
        
       
    }
    
    .menu-clicado h2:nth-of-type(1){
        padding-top: 10px;
        margin-top: 0px;
        
    }
    
    .menu-clicado h2{
        width: 0px;
        
        cursor: pointer;
        color: #daa520;
        border-bottom: 2px solid rgb(179, 179, 179);
        padding-top: 15px;
        padding-bottom: 15px;
        box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.527);
    }
    
    .menu-clicado h2:hover{
        color:rgb(46, 7, 184);
        transition: 0.3s;
    }   
   
}
   


