*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav{
    background-color: rgb(0, 209, 0);
    text-align: center;
    color: white;
    font-size: 40px;
    padding: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.218);
}

.topnav h1{
    border-bottom: 2px solid white;
    width: 160px;
    margin: 0 auto;
}

.container-pergunta1 h3{
    font-size: 23.5px; 
}

.container-pergunta1, .container-pergunta2{
    width: 700px;
    margin: 0 auto;
    margin-top: 30px;
    background-color: rgb(244, 244, 244);
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 6px;
    border: 1px solid rgba(204, 204, 204, 0.613);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.224);
    
}

.container-pergunta1 input:nth-of-type(1){
    margin-top: 10px;
}

.container-pergunta1 label{
    margin-bottom: 7px;
    display: inline-block;
    font-size: 19px;
    padding: 3.5px;
    border-radius: 4px;
    border-bottom: 1px solid #333;
}

.contato, .contato1{
    margin-top: 10px;
    font-size: 13px;
    padding-bottom: 10px;
    opacity: 0.6;
    text-align: center;
}

.finalizar{
    margin: 0 auto;
    width: 70px;
}

input[type="submit"]{
    padding: 6px 9px;
    margin-top: 30px;
    background-color: rgb(0, 197, 13);
    color: white;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.369);
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 100px;
}   

.show{
    background-color: red;
 
}

.show2{
    background-color: rgb(0, 202, 0);
}

.div-certa{
    background-color:rgba(0, 255, 0, 0.699) ;
    width: 600px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 5px;
    color: black;
}

.div-errada{
    background-color:rgba(255, 0, 0, 0.742) ;
    width: 600px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 5px;
    color: black;
}

.p-estilo{
    font-size: 14px;
    padding-right: 10px;
    text-align: justify;
}

.resultado-quiz{
    width: 40%;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.399);
    text-align: center;
    padding: 15px 15px;
    margin: 0 auto;
    margin-top: -50px;
    margin-bottom: 50px;
    font-size: 30px;
    background-color: rgb(231, 231, 231);
}
